@use '../../ingredients';

@mixin theme(
    $borderColor: ingredients.$dune, 
    $headerBgndColor: ingredients.$dune, 
    $headerTextColor: white, 
    $linkBgndHoverColor: ingredients.$picton-blue, 
    $linkTextColor: black,
    $titleColor: ingredients.$dune
) {
    border: 1px solid $borderColor;

    .card-header {
        background: $headerBgndColor;
        color: $headerTextColor;
    }
    .card-body {
        .card-title {
            color: $titleColor 
        }
    }

    .card-footer {
        a:link, a:visited {
            color: $headerTextColor;
            background-color: $headerBgndColor;
        }
    
        a:hover, a:active {
            color: $linkTextColor;
            background-color: $linkBgndHoverColor;
        }
    }
}

.card {
    --bs-card-inner-border-radius: 0;
    --bs-card-border-radius: 0;
    color: black;
    font-size: 16px;
    @include theme;

    .card-header {
        padding: 15px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: none;
    }

    .image-container {
        height: 250px;
        overflow: hidden;

        img {
            height: 100%;
            width: auto;
        }
    }

    .card-body {
        padding: 15px;

        .card-title {
            font-size: 24px;
            font-weight: bold;
            text-align: left;
            padding:15px 0px;
        }

        p {
            text-align: left;
        }
    }

    .card-footer {
        padding: 15px;
        border-top: none;
        text-align: left;
        background-color: white;

        a {
            display: inline-block;
            padding: 8px 15px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .card {
        .card-header {
            font-size: 24px;
        }

        .card-body {
            .card-title {
                font-size: 36px;
            }
        }
    } 
}

.card.natural {
    @include theme(
        $borderColor: ingredients.$dune, 
        $headerBgndColor: ingredients.$asparagus, 
        $headerTextColor: black, 
        $linkBgndHoverColor: ingredients.$elm, 
        $linkTextColor: white,
        $titleColor: ingredients.$asparagus
    );
}

.card.historical {
    @include theme(
        $borderColor: ingredients.$dune, 
        $headerBgndColor: ingredients.$carrot, 
        $headerTextColor: black, 
        $linkBgndHoverColor: ingredients.$geraldine, 
        $linkTextColor: black,
        $titleColor: ingredients.$carrot
    );
}

.card.monument {
    @include theme(
        $borderColor: ingredients.$dune, 
        $headerBgndColor: ingredients.$elm, 
        $headerTextColor: white, 
        $linkBgndHoverColor: ingredients.$asparagus, 
        $linkTextColor: black,
        $titleColor: ingredients.$elm
    );
}

.card.featured {
    @include theme(
        $headerBgndColor: ingredients.$chrome, 
        $headerTextColor: black, 
    );

    background-color: ingredients.$elm;
    color: white;

    .card-header, .card-footer {
        background-color: ingredients.$elm;
        color: white;
    }

    .card-body {
        .card-title {
            color: white;
        }
    }
}


